*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

#bg{
    position: relative;
    width: 100%;
    top: -10%;
}

header{
    position: absolute;
    top: 0%;
    left: 40%;
}

#logo{
    width: 280px;
    height: 140px;
}

.container{
    display: grid;
    position: absolute;
    left: 30%;
    top: 20%;
    text-align: center;
}

.container h1{
    font-size: 32px;
    font-weight: 700, bold;
    color: #4D4D4D;
}

.container span{
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    padding-top: 3%;
    padding-bottom: 3%;
}

#botao{
    width: 260px;
    height: 58px;
    margin-left: 30%;
    
    background: #7FE68E;
    border-radius: 86px;
    border: none;
}

.botao_dec{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

#ilustracao1{
    width: 480px;
    height: 320px;
    margin-left: 13%;
}
